<navbar></navbar>








































<!--<mat-accordion  *ngFor="let patientlist of patient.dosFrom ; let i=index">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="col-4">-->
       
     <!--   {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} -->
    <!-- {{patient.dosFrom[i] }} To {{patient.dosTo[i] }}-->
    <!--date of services {{patientlist|json}}

      </div>
     
      <div class="col">-->
     <!--   {{patientlist.attorney}} {{patientlist.attorneyLastName}}
     {{patient.attorney[i].firstName}} {{patient.attorney[i].lastName}}
      </div>
      <div class="col">
          <button mat-raised-button id="goBtn" (click)="go()">processed</button>
        </div>
      <div class="col">
        <a>Fax20171002035533.pdf</a>
      </div>
    </mat-expansion-panel-header>
      <div class="panelBody">
      <div class="col">
        <a href="">{{patient.documentType[i]}}({{patient.dosFrom[i]}}-{{patient.dosTo}})</a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>

    </div>    
  </mat-expansion-panel>
</mat-accordion>-->
     <!-- <div class="col">
        <a href="">-->
     <!--     Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})-->
   <!--  {{patient.documentType[i]}}({{patient.dosFrom[i]}}-{{patient.dosTo}})
        </a>-->
      <!--  <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> -->
 <!--     </div>
      <div class="col">
        <a href="">-->
       <!--   EOB({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})-->
     <!--  {{patient.documentType[i]}}({{patient.dosFrom[i]}}-{{patient.dosTo}})
        </a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>
      <div class="col">
          <a href="">
            Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
          </a>
          <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>-->
 
<!--
<mat-accordion  *ngFor="let patientlist of patient">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div class="col-4">
          {{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }} 
        </div>
        <div class="col">
          {{patientlist.attorneyFirstName}} {{patientlist.attorneyLastName}}
        </div>
        
        <div class="col">
          <a>Fax20171002035533.pdf</a>
        </div>
      </mat-expansion-panel-header>
      <div class="panelBody">
      
      <div class="col">
        <a routerLink="/mdmuser/patients">Claims forms</a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>
      <div class="col">
        <a href="">
          Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
        </a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>
      <div class="col">
        <a href="">
          EOB({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
        </a>
        <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>
      <div class="col">
          <a href="">
            Claims Forms({{patientlist.doa | date :'mediumDate' }} To {{patientlist.firstVisit | date :'mediumDate' }})
          </a>
          <a mat-raised-button routerLink="/mdmuser/mapDocuments">Edit</a> 
      </div>   
      </div> 
    </mat-expansion-panel>
  </mat-accordion>-->
 