<!-- 

<div class="row Menu">
  <mat-toolbar>
    <mat-toolbar-row>
        <h2 id="logoName"><img class="img-responsive" src="assets/img/mdLogo.png"> DMS</h2>
        <ng-container *ngIf="isAdmin">
          <a mat-button routerLink="/admin" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Practice</a>
          <a mat-button routerLink="/admin/users" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Users</a>
          <mat-form-field class="toolbarSelect">
            <mat-select placeholder="MDM User" >
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Add Patient</a></mat-option>
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser/patients" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Edit Patient</a></mat-option>
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser/mapDocuments" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map Documents to Patient</a></mat-option>
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser/mapDos" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map DOS to Attorney</a></mat-option>
            </mat-select>              
          </mat-form-field>
          <a mat-button routerLink="/doctor" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Doctor Home</a>
          <a mat-button routerLink="/attorney" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Attorney Home</a>
        </ng-container>

        <ng-container *ngIf="isMdmUser">
          <a mat-button routerLink="/mdmuser" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Add Patient</a>
          <a mat-button routerLink="/mdmuser/patients" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Edit Patient</a>
          <a mat-button routerLink="/mdmuser/mapDocuments" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map Documents to Patient</a>
          <a mat-button routerLink="/mdmuser/mapDos" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map Documents to Attorney</a>
        </ng-container>

        <ng-container *ngIf="isDoctor">
          <a mat-button routerLink="/doctor" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </ng-container>

        <ng-container *ngIf="isAttorney">
          <a mat-button routerLink="/attorney" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </ng-container>
        <div class="navbarUserbtn">
          <label>Hi! {{currentUser.firstName}}</label>
          <button id="logOut" mat-raised-button (click)="logout()" >Logout</button>
        </div>
      </mat-toolbar-row>
  </mat-toolbar>

</div>-->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true">
    <mat-toolbar color="primary">
      <span *ngIf="isAdmin">Admin</span>
      <span *ngIf="isAttorney">Attoryney</span>
      <span *ngIf="isDoctor">Doctor</span>
      <span *ngIf="isMdmUser">MDM User</span>
    </mat-toolbar>
    <mat-nav-list>
        <div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
          <ul>
            <li class="active"><a href="index.html"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
            <li> <a href="charts.html"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a> </li>
            <li> <a href="widgets.html"><i class="icon icon-inbox"></i> <span>Widgets</span></a> </li>
            <li><a href="tables.html"><i class="icon icon-th"></i> <span>Tables</span></a></li>
            <li><a href="grid.html"><i class="icon icon-fullscreen"></i> <span>Full width</span></a></li>
            <li><a href="buttons.html"><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>
            <li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Eelements</span></a></li>
          </ul>
        </div>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon"><i class="fa fa-bars fa-bars-fa"></i></mat-icon>
      </button>
     <span class="navbarUserbtn"><label>Hi! {{currentUser.firstName}}</label></span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

