<!-- 

<div class="row Menu">
  <mat-toolbar>
    <mat-toolbar-row>
        <h2 id="logoName"><img class="img-responsive" src="assets/img/mdLogo.png"> DMS</h2>
        <ng-container *ngIf="isAdmin">
          <a mat-button routerLink="/admin" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Practice</a>
          <a mat-button routerLink="/admin/users" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Users</a>
          <mat-form-field class="toolbarSelect">
            <mat-select placeholder="MDM User" >
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Add Patient</a></mat-option>
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser/patients" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Edit Patient</a></mat-option>
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser/mapDocuments" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map Documents to Patient</a></mat-option>
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser/mapDos" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map DOS to Attorney</a></mat-option>
            </mat-select>              
          </mat-form-field>
          <a mat-button routerLink="/doctor" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Doctor Home</a>
          <a mat-button routerLink="/attorney" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Attorney Home</a>
        </ng-container>

        <ng-container *ngIf="isMdmUser">
          <a mat-button routerLink="/mdmuser" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Add Patient</a>
          <a mat-button routerLink="/mdmuser/patients" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Edit Patient</a>
          <a mat-button routerLink="/mdmuser/mapDocuments" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map Documents to Patient</a>
          <a mat-button routerLink="/mdmuser/mapDos" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map Documents to Attorney</a>
        </ng-container>

        <ng-container *ngIf="isDoctor">
          <a mat-button routerLink="/doctor" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </ng-container>

        <ng-container *ngIf="isAttorney">
          <a mat-button routerLink="/attorney" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </ng-container>
        <div class="navbarUserbtn">
          <label>Hi! {{currentUser.firstName}}</label>
          <button id="logOut" mat-raised-button (click)="logout()" >Logout</button>
        </div>
      </mat-toolbar-row>
  </mat-toolbar>

</div>-->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true">
    <mat-toolbar color="primary">
      <span *ngIf="isAdmin">Admin</span>
      <span *ngIf="isAttorney">Attoryney</span>
      <span *ngIf="isDoctor">Doctor</span>
      <span *ngIf="isMdmUser">MDM User</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin" *ngIf="isAdmin" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Practice</a>
      <a mat-list-item *ngIf="isAdmin" routerLink="/admin/users" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Users</a>
      <a mat-list-item *ngIf="isAdmin || isMdmUser"routerLink="/mdmuser/patients" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Patients</a>
      <a mat-list-item *ngIf="isAdmin || isMdmUser"routerLink="/mdmuser/mapDocuments" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Map Doc's to Patient</a>
      <a mat-list-item *ngIf="isAdmin || isMdmUser"routerLink="/mdmuser/mapDos" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Map DOS to Attorney</a>
      <a mat-list-item *ngIf="isAdmin || isDoctor"routerLink="/doctor" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Doctor Home</a>
      <a mat-list-item *ngIf="isAdmin || isAttorney"routerLink="/attorney" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Attorney Home</a>
      <a mat-list-item class="inner-content" (click)="logout()" >Logout</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon"><i class="fa fa-bars fa-bars-fa"></i></mat-icon>
      </button>
      <!-- <img class="img-responsive" src="assets/img/mdLogo1.png"> --><span class="colorWhite">MD Manage</span>
      <span class="navbarUserbtn"><label>Hi! {{currentUser.firstName}}</label></span>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>





<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand" href="#pablo">{{getTitle()}}</a>
        </div>
        <button class="navbar-toggler" type="button" (click)="collapse()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
          <form>
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#pablo">
                <i class="now-ui-icons media-2_sound-wave"></i>
                <p>
                  <span class="d-lg-none d-md-block">Stats</span>
                </p>
              </a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" href="#pablo">
                <i class="now-ui-icons users_single-02"></i>
                <p>
                  <span class="d-lg-none d-md-block">Account</span>
                </p>
              </a>
            </li>
          </ul>
        </div>
    </div>
</nav>
