<!-- 

<div class="row Menu">
  <mat-toolbar>
    <mat-toolbar-row>
        <h2 id="logoName"><img class="img-responsive" src="assets/img/mdLogo.png"> DMS</h2>
        <ng-container *ngIf="isAdmin">
          <a mat-button routerLink="/admin" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Practice</a>
          <a mat-button routerLink="/admin/users" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Users</a>
          <mat-form-field class="toolbarSelect">
            <mat-select placeholder="MDM User" >
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Add Patient</a></mat-option>
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser/patients" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Edit Patient</a></mat-option>
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser/mapDocuments" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map Documents to Patient</a></mat-option>
              <mat-option ><a style="width:100%" mat-button routerLink="/mdmuser/mapDos" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map DOS to Attorney</a></mat-option>
            </mat-select>              
          </mat-form-field>
          <a mat-button routerLink="/doctor" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Doctor Home</a>
          <a mat-button routerLink="/attorney" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Attorney Home</a>
        </ng-container>

        <ng-container *ngIf="isMdmUser">
          <a mat-button routerLink="/mdmuser" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Add Patient</a>
          <a mat-button routerLink="/mdmuser/patients" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Edit Patient</a>
          <a mat-button routerLink="/mdmuser/mapDocuments" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map Documents to Patient</a>
          <a mat-button routerLink="/mdmuser/mapDos" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Map Documents to Attorney</a>
        </ng-container>

        <ng-container *ngIf="isDoctor">
          <a mat-button routerLink="/doctor" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </ng-container>

        <ng-container *ngIf="isAttorney">
          <a mat-button routerLink="/attorney" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </ng-container>
        <div class="navbarUserbtn">
          <label>Hi! {{currentUser.firstName}}</label>
          <button id="logOut" mat-raised-button (click)="logout()" >Logout</button>
        </div>
      </mat-toolbar-row>
  </mat-toolbar>

</div>-->
<!-- 
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true">
    <mat-toolbar color="primary">
      <span *ngIf="isAdmin">Admin</span>
      <span *ngIf="isAttorney">Attoryney</span>
      <span *ngIf="isDoctor">Doctor</span>
      <span *ngIf="isMdmUser">MDM User</span></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin" *ngIf="isAdmin" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Practice</a>
      <a mat-list-item *ngIf="isAdmin" routerLink="/admin/users" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Users</a>
      <a mat-list-item *ngIf="isAdmin || isMdmUser"routerLink="/mdmuser/patients" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Patients</a>
      <a mat-list-item *ngIf="isAdmin || isMdmUser"routerLink="/mdmuser/mapDocuments" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Map Doc's to Patient</a>
      <a mat-list-item *ngIf="isAdmin || isMdmUser"routerLink="/mdmuser/mapDos" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Map DOS to Attorney</a>
      <a mat-list-item *ngIf="isAdmin || isDoctor"routerLink="/doctor" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Doctor Home</a>
      <a mat-list-item *ngIf="isAdmin || isAttorney"routerLink="/attorney" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact:true}" >Attorney Home</a>
      <a mat-list-item class="inner-content" (click)="logout()" >Logout</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon"><i class="fa fa-bars fa-bars-fa"></i></mat-icon>
      </button> -->
      <!-- <img class="img-responsive" src="assets/img/mdLogo1.png"> -->
      <!-- <span class="colorWhite">MD Manage</span>
      <span class="navbarUserbtn"><label>Hi! {{currentUser.firstName}}</label></span>
    </mat-toolbar> -->
    <!-- Add Content Here -->
  <!-- </mat-sidenav-content>
</mat-sidenav-container> -->


<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
  <li class="active"> 
    <a href="index.html"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
  </li>
  <li class="submenu">
    <a href="#" class="noti-dot"><i class="fa fa-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
    <ul style="display: none;">
      <li><a href="employees.html">All Employees</a></li>
      <li><a href="holidays.html">Holidays</a></li>
      <li><a href="leaves.html">Leave Requests <span class="badge bg-primary pull-right">1</span></a></li>
      <li><a href="attendance.html">Attendance</a></li>
      <li><a href="departments.html">Departments</a></li>
      <li><a href="designations.html">Designations</a></li>
    </ul>
  </li>
   
  <li> 
    <a href="projects.html"><i class="fa fa-rocket"></i> <span>Projects</span></a>
  </li>
  <li> 
    <a href="tasks.html"><i class="fa fa-tasks"></i> <span>Tasks</span></a>
  </li>
   
  <li> 
    <a href="contacts.html"><i class="fa fa-book"></i> <span>Contacts</span></a>
  </li>
   
 
  <li class="submenu">
    <a href="#"><i class="fa fa-money"></i> <span> Payroll </span> <span class="menu-arrow"></span></a>
    <ul style="display: none;">
      <li><a href="salary.html"> Employee Salary </a></li>
      <li><a href="salary-view.html"> Payslip </a></li>
    </ul>
  </li>
  <li> 
    <a href="worksheet.html"><i class="fa fa-clock-o"></i> <span>Timing Sheet</span></a>
  </li>
   
  <li> 
    <a href="inbox.html"><i class="fa fa-at"></i> <span>Email</span></a>
  </li>
   
  <li> 
    <a href="settings.html"><i class="fa fa-cog"></i> <span>Settings</span></a>
  </li>
</ul>
</div>
    </div>
</div>